<h1 class="title">Reset password</h1>
<p class="message">Enter your username or email and you will receive a new password in your email.</p>

<%= form_tag({:action => 'reset_password'}, {:class => "register"}) do %>
  <div class="error-msg"><%= flash[:error] %></div>
  <div class="control-group">
    <div><%= label(:username, "Username:") %></div>
    <div><%= text_field_tag(:username, params[:username]) %></div>
  </div>
  <div class="control-group">
    <div><%= label(:email, "Email:") %> </div>
    <div><%= text_field_tag(:email) %></div>
  </div>
  
  <!-- <div class="capcha"> -->
    <%#= show_simple_captcha(:label => "", :placeholder => "Enter text") %>
  <!-- </div> -->
  <div></div>
  
  <div class="register-btn">
    <button type="submit" >> SEND</button>
  </div>
<% end %>

