<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag('shared', :media => 'all') %>
  <%= stylesheet_link_tag('nav', :media => 'all') %>
  <%= stylesheet_link_tag('public', :media => 'all') %>
  <%= stylesheet_link_tag('register_form', :media => 'all') %>
  <%= stylesheet_link_tag('ssimple_captcha', :media => 'all') %>
  <%= stylesheet_link_tag('footer', :media => 'all') %>

  <%= javascript_include_tag('jquery-1.11.1.min.js') %>
  <%= javascript_include_tag('refresh_simple_captcha.js') %>
  <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-div">
    <%= render "shared/nav" %>
    <%= yield %>
    <%= render(:partial => "shared/footer") %>
  </div>
</body>
</html>
